<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>確認</title>
</head>
<body>
	<h1>itemマスタ登録(確認)</h1>

	<div>
	<p>ID：<span th:text="${form.itemid}"></span></p>
	</div>

	<div>
	<p>商品名：<span th:text="${form.itemName}"></span></p>
	</div>

	<div>
	<p>価格：<span th:text="${form.price}"></span>円</p>
	</div>
	
	<form th:action="@{/master/item/regist}" th:object="${form}" method="post" >
		<input type="hidden" th:field="*{itemid}" />
		<input type="hidden" th:field="*{itemName}" />
		<input type="hidden" th:field="*{price}" />
	
		<button type="submit">登録</button>
	</form>


<div>
	<a th:href="@{/}" href="../../menu.html">メニューへ</a>
</div>

</body>
</html>