<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>itemマスタ登録画面</title>
</head>
<body>
    <h1>itemマスタ登録画面</h1>
    <a th:href="@{/}" href="../../menu.html">メニュー画面へ</a>

    <form method="POST" th:action="@{confirm}" action="./confirm.html" th:object="${itemForm}">
        <div>
            <p>ID</p>
            <input type="text" th:field="*{id}" value="3" />
        </div>

        <div>
            <p>ITEM NAME</p>
            <input type="text" th:field="*{itemName}" value="えんぴつ" />
        </div>

        <div>
            <p>PRICE</p>
            <input type="text" th:field="*{price}" value="100" />円
        </div>

        <button type="submit">確認</button>
    </form>

</body>
</html>